body {
    background-color: rgb(245, 245, 212);
    background-image: url("https://www.instagram.com/p/B8PCoesFtbX/media/?size=l");
    background-position: center;
    background-size: cover;
    font-family: 'Grandstander', cursive;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav {
    background-color: rgb(238, 177, 170, 0);
}

.logo {
    width: 90px;
    height: 90px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: rgb(97, 9, 97);
}

.navbar-light .navbar-nav .nav-link.active:hover {
    color: rgb(135, 206, 235);
}

a {
    text-decoration: none;
    font-size: 30px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    padding-right: 0px;
    padding-left: 0px;
    border: solid 5px rgb(221, 160, 221);
    margin: 20px;
}

main {
    justify-content: center;
}

h1, h2 {
    color: rgb(97, 9, 97);
    text-align: center;
}

.heart {
    width: 30px;
    height: 30px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}
